body {
    background-color: #0064FF;
    color: cornsilk;
}

#container {
    background-color: #0064FF;
    height: 100vh;
}

#todoList {
    background-color: #3930f0;
    border-radius: 10px;
    margin: auto;
    box-shadow: -5px -5px 10px #0095ff, 4px 4px 10px rgba(86, 86, 86, 0.595);
    overflow: auto;
}

#todoList li {
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px;
    color: black;
    background-color: rgb(236, 212, 212);
    box-shadow: -2px -2px 5px rgb(236, 212, 212), 2px 2px 5px rgb(56, 50, 50);
}

.fa {
    cursor: pointer;
}

form {
    background-color: #3930f0;
    border-radius: 10px;
    margin: auto;
    box-shadow: -5px -5px 10px #0095ff, 4px 4px 10px rgba(86, 86, 86, 0.595);
}

svg {
    width: 4%
}

svg:hover {
    cursor: pointer;
    color: white;
}